<div class="pageContainer">
  <div nz-row>
    <div nz-col nzSpan="18" style="height: 52px; line-height: 52px;">
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item style="height: 54px;">
          <a (click)="this.modifyArticleSubject('all')">全部</a>&nbsp;&nbsp;
        </li>
        <li nz-menu-item *ngFor="let type of this.articleTypesArr; trackBy: trackByIndex">
          <a (click)="this.modifyArticleSubject(type[0])">{{type[1]}}</a>
        </li>
      </ul>
    </div>
    <div nz-col nzSpan="6">
      <nz-input-group style="width: 100%;left: 0" [nzSuffix]="suffixIconSearch">
        <input type="text"
               nz-input
               placeholder="搜索文章"
               [(ngModel)]="this.searchKey"
               (ngModelChange)="this.fieldChange()">
      </nz-input-group>
    </div>
  </div>
  <ng-container *ngIf="this.articles.length; else noRes">
    <ng-container *ngFor="let article of this.articles; trackBy: trackByIndex">
      <card-component [title]="article.title"
                      [id]="article._id"
                      type="article"
                      [user]="article.userID"
                      [good]="article.good"
                      [content]="article.content"
                      [writeDate]="article.writeDate"></card-component>
    </ng-container>
    <div style="text-align: center; margin-top: 20px">
      <nz-pagination [nzPageIndex]="1"
                     [nzTotal]="this.total*10"
                     (nzPageIndexChange)="this.pageIndexChange($event)"></nz-pagination>
    </div>
  </ng-container>
  <ng-template #noRes>
    <div class="text-center font">
      没有查到文章
    </div>
  </ng-template>
</div>

<ng-template #suffixIconSearch>
  <i nz-icon type="search"></i>
</ng-template>
