<div class="pageContainer">
  <ng-container *ngIf="this.collections.length; else noRes">
  <ng-container *ngFor="let collection of this.collections;index as i; trackBy: trackByIndex">
    <card-component [title]="collection.articleID.title"
                    [collectionID]="collection._id"
                    [id]="collection.articleID._id"
                    [user]="collection.authorID"
                    [edit]="this.edit"
                    type="article"
                    [good]="collection.articleID.good"
                    [content]="collection.articleID.content"
                    [writeDate]="collection.articleID.writeDate"
                    (delete)="this.deleteCollection($event, i)"></card-component>
    </ng-container>
  </ng-container>
  <ng-template #noRes>
    <div class="noRes">
      还未收藏文章
    </div>
  </ng-template>
</div>