<div class="pageContainer">
  <ng-container *ngIf="this.articles.length; else noRes">
    <ng-container *ngFor="let article of this.articles; index as i;trackBy: trackByIndex">
      <card-component [title]="article.title"
                      [id]="article._id"
                      [user]="article.userID"
                      [edit]="this.edit"
                      type="article"
                      [good]="article.good"
                      [content]="article.content"
                      [writeDate]="article.writeDate"
                      (delete)="this.deleteArticle($event, i)"></card-component>
      </ng-container>
  </ng-container>
  <ng-template #noRes>
    <div class="noRes">
      没有文章
    </div>
  </ng-template>
</div>
